<h2>Welcome Back!</h2>
<%= form_tag sessions_path do %>
  <div class="field">
    <%= label_tag :email, nil, :class => 'lead' %>
    <%= text_field_tag :email, params[:email], class: 'span8' %>
  </div>
  <div class="field">
    <%= label_tag :password, nil, :class => 'lead' %>
    <%= password_field_tag :password, class: 'span8' %>
  </div>
  <div class="field">
    <%= check_box_tag :remember_me, 1, params[:remember_me] %>
    <%= label_tag :remember_me %>
  </div>
  <%= submit_tag "Log in", class: 'btn btn-success' %>
<% end %>