<%= form_for @level0, :url => { :action => "create" }, :html => {:class => 'nifty-form'} do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_area :title %>
  </p>
 
  <p>
    <%= f.label :overview %><br>
    <%= f.text_area :overview %>
  </p>

  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>

