<%= form_for @quicklink do |f| %>
	  <h2><%= @quicklink.title %></h2>
	  <%= display_errors(@quicklink) %>
	  <p>
	    <%= f.label :title, class: 'lead' %>
	    <%= f.text_field :title, class: 'span8' %>
	  </p>
	 
	  <p>
	    <%= f.label :overview, class: 'lead' %>
	    <%= f.text_field :overview, class: 'span8' %>
	  </p>

	  <p>
	    <%= f.label :description, class: 'lead' %>
	    <%= f.text_field :description, class: 'span8' %>
	  </p>

	  <p>
	    <%= f.submit "save #{@quicklink.title}", { :class => 'btn btn-primary' } %>
	  </p>
<% end %>