<%= form_for @quicklink, :url => { :action => "update" } do |f| %>
	  <h2><%= @quicklink.link_title %></h2>
	  <p>
	    <%= f.label :link_title, class: 'lead' %>
	    <%= f.text_field :link_title, class: 'span8' %>
	  </p>
	 
	  <p>
	    <%= f.label :link_subtitle, class: 'lead' %>
	    <%= f.text_field :link_subtitle, class: 'span8' %>
	  </p>

	  <p>
	    <%= f.submit "save #{@quicklink.link_title}", { :class => 'btn btn-primary' } %>
	  </p>
<% end %>