<ul id="primaryNav">
<li id="home"><%= link_to link_helper, root_path %></li>
	<% if @items %>
	<% @items.each do |first| %>

			<li class="do"><%= link_to first.title, first_path(first) %>
				<ul>
				
				<% if first.level1s %>
				
				<% first.level1s.each do |second| %>
						<li><%= link_to second.title, first_second_path(first, second) %>
							<ul>
								<% if second.level2s %>
								<% second.level2s.each do |third| %>
									<li><%= link_to third.title, first_second_third_path(first, second, third) %></li>
								<% end %>
									<% if logged_in? %>
									<li><%= link_to '+', new_first_second_third_path(first, second) %></li> 
									<% end %> 
								<% end %>
							</ul>
						</li>
				<% end %>
					<% if logged_in? %>
					<li><%= link_to '+', new_first_second_path(first) %></li>
					<% end %>
				<% end %>
				</ul>
			</li>
	<% end %>
	<% if logged_in? %>
	<li><%= link_to '+', new_first_path %></li>
	<% end %>
<% end %>
</ul>