	<ul id="primaryNav">
		<% if @items %>
		<li class="do"><%= link_to @items.first.title, first_path(@items.first) %>
				<ul>
				<% @items.each do |second| %>
						<li><%= link_to second.title, first_second_path(params[:id], second.id) %>
							<ul>
								<% if second.level2s %>
								<% second.level2s.each do |third| %>
									<li><%= link_to third.title, first_second_third_path(params[:id], second.id, third.id) %></li>
								<% end %>
									<li><%= link_to '+', new_first_second_third_path(params[:id], second.id) if logged_in? %></li>
								<% end %>
							</ul>
						</li>
				<% end %>
					<li><%= link_to '+', new_first_second_path(params[:id]) if logged_in? %></li>
				</ul>
			</li>
		<% end %>
	</ul>
	