<%= form_for @project, :url => { :action => "update" } do |f| %>
	  <h2><%= @project.project_title %></h2>
	  <p>
	    <%= f.label :project_title, class: 'lead' %>
	    <%= f.text_field :project_title, class: 'span8' %>
	  </p>
	 
	  <p>
	    <%= f.label :project_subtitle, class: 'lead' %>
	    <%= f.text_field :project_subtitle, class: 'span8' %>
	  </p>

	  <p>
	    <%= f.submit "save #{@project.project_title}", { :class => 'btn btn-primary' } %>
	  </p>
<% end %>