<div class="well well-large span8">

	<h2><%= @item.title %></h2>

	<p class="lead"><%= @item.overview %></p>

	<p><%= @item.description %></p>
	<%= link_to 'go back', root_path, class: 'btn btn-primary' %>
	<%= link_to 'edit', edit_first_second_path(params[:first_id], @item.id), class: 'btn btn-primary' %>
	<%= link_to 'delete', first_path(@item), :confirm => 'Are you sure?', :method => :delete, class: 'btn btn-primary ' %>
</div>